{% extends "blog/base.html" %}
{% block conteudo %}
    <div class="content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Deletar Postagem</legend>
                <h2>Você tem certeza que deseja deletar a postagem? {{ object.titulo }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit"><b>Sim, deletar.</b></button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock conteudo %}